.story {
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 12px;
  width: 65vw;
  min-width: 300px;
  list-style: none;
  background: linear-gradient(white, white, #fafafa);
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
}

.story > * {
  padding: 3px 0;
}

#title, #author-name, #likes, #comments {
  font-weight: 400;
  transition: 0.2s;
}

#author-name:hover,#comments:hover,#likes:hover {
  color: #666;
  cursor: pointer;
}

#likes {
  margin-right: 5px;
}

#comments {
  margin-left: 5px;
}

#date-time {
  float: right;
  text-align: right;
}

#date-time > p {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 14px;
}

#time {
  font-weight: 300 !important;
  font-size: 17px !important;
}

#liked, #disliked {
  font-weight: 700;
  cursor: pointer;
  margin-right: 15px;
  transition: 0.1s;
}

#disliked {
  margin-right: 12px;
}

#liked:hover, #disliked:hover {
  filter: brightness(0.95);
}

#text {
  margin-bottom: 10px;
  overflow: hidden;
  transition: max-height 0.3s;
}

.category {
  color: white;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #ccc;
  padding: 5px 8px;
  margin: 3px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 3px;
}

.category:hover {
  filter: contrast(1.1);
}

.category:active {
  transform: scale(0.97);
}

#expand {
  filter: brightness(1.1);
  position: absolute;
  margin: 0 auto;
  margin-top: 10px;
  height: 20px;
  width: 45px;
  left: 0;
  right: 0;
  cursor: pointer;
  transition: 0.2s;
}

#expand:hover {
  filter: brightness(1.05);
}
