.newStory {
  position: relative;
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 12px;
  width: 65vw;
  min-width: 300px;
  list-style: none;
  background: linear-gradient(white, white, #fafafa);
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.3);
}

.newStory > * {
  padding: 3px;
}

.newStory > span {
  font-weight: 400;
}

#newTitle {
  width: 42%;
  display: grid;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #ccc;
  background: white;
}

#newText {
  height: 20px;
  width: 99%;
  margin-bottom: 25px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  resize: none;
  line-height: 1.3;
  background: white;
}

.newCategory {
  color: white;
  font-size: 12px;
  font-weight: 500;
  border: 1px solid #ccc;
  padding: 5px 8px;
  margin: 3px;
  transition: 0.1s;
  cursor: pointer;
  border-radius: 3px;
  filter: saturate(0);
}

.newCategory:active {
  transform: scale(0.97);
}

#publish {
  position: absolute;
  right: 15px;
  bottom: 12px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 3px;
  cursor: pointer;
  transition: background 0.15s, transform 0.1s;
  font-weight: 400;
  font-size: 18px;
  padding: 4px 12px;
}

#publish:hover {
  background: #e8e8e8;
}

#publish:active {
  transform: scale(0.97);
}
